*~
/*.jpg

bin/
/*.pgm
PNG/
negativo
desplazar
# Ignore Eclipse project files
.cproject
.project
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
